@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Nunito:wght@400;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

a{
  text-decoration: none;
  color: inherit;
}

.nav--container{
  width: 100%;
  height: 60px;
  display: flex;
  padding: 0 5%;
  align-items: center;
  justify-content: space-between;
}

.nav--container img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.main-hero--container{
  width: 100%;
  height: calc(100vh - 60px);
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.nav--container ul{
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin: auto;
  font-weight: 700;
}

.nav--login-box{
  display: flex;
  align-items: center;
  width: auto;
  height: 100%;
  gap: 8px;
  font-size: 14px;
}

.main-shelter--container, .main-about--container{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
}

.main-shelter--container h1, .main-about--container h1{
  margin: 40px 0;
  font-size: 40px;
}

.main-shelter--container h4, .main-about--container h4{
  font-size: 1em;
  text-align: center;
  width: 50%;
  margin-bottom: 40px;
}

.shelters--container{
  width: 80%;
  height: auto;
  min-height: 100vh;
  padding: 40px;
  border: 1px solid rgba(0, 0, 0, 0.312);
  border-radius: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  grid-auto-rows: 280px; 
  gap: 40px;
  justify-items: center;
}

.shelter--box {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  transition: 0.75s ease-in-out;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-size: cover;
  background-position: center;
}

.shelter--box:hover {
  transform: scale(1.04);
}

.shelter--desc {
  width: 100%;
  height: 36%;
  position: relative;
  background-color: #f6bd604a;
  margin-top: auto;
  border-radius: 0 0 6px 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 10px 0;
  font-size: 1.3em;
  text-shadow: 1px 1px 2px black;
}

.main-about--container img{
  width: 40%;
  height: auto;
}

.help--btn{
  width: 200px;
  height: 80px;
  border: 2px solid black;
  background-color: transparent;
  border-radius: 4px;
  transition: 0.75s ease-in-out;
  cursor: pointer;
}

.help--btn:hover{
  background-color: #36AF8C;
  color: white;
}

.form--container{
  width: 100%;
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 20%;
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: right bottom;
}

.form--container h3{
  font-size: 2em;
  margin: 100px 0 50px;
}

.login-form--box{
  width: 40%;
  height: 500px;
}

.login-form--box form{
  font-size: 1.4em;
}

.regi--form{
  margin-left: auto;
}

.form--container input{
  border: none;
  width: 300px;
  border-bottom: 1px solid black;
}

.form--btn{
  width: 60px;
  height: 40px;
  border: 1px solid black;
  background-color: transparent;
  margin-top: 20px;
  border-radius: 3px;
  cursor: pointer;
}

.form--btn:hover{
  background-color: #36AF8C;
  color: white;
}

input:focus{
  outline: none;
  border-bottom: 1px solid black ;
}

.main-profile--container{
  width: 100%;
  height: calc(100vh - 60px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 100px;
}

.info-bar--container{
  width: 300px;
  height: 100%;
  background-color: #36af8d50;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.info-bar--container img{
  width: 170px;
  height: 170px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.info-bar--container h3{
  font-size: 1.5em;
}

.fav-shel--container{
  width: 300px;
  height: 300px;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  align-self: flex-end;
}

.stat-bar--container{
  width: 50%;
  height: 70%;
  background-color: rgba(255, 145, 0, 0.412);
  align-self: flex-end;
  border-radius: 20px;
}

.current-shel--img-box{
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
}

.current-shelter--container{
  width: 100%;
  height: auto;
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.current-shel--text-box{
  width: 80%;
  height: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}